.contact-wrapper{
    position: relative;
    margin-bottom: 12rem;
    .paralex{
         width: 80%;
         position: relative;
         margin: 0 auto;
         background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
         height: 55vh;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         margin-top: 5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(13, 13, 13, 0.855);
            position: absolute;
            opacity: 0.6;
            top: 0;
            
         }
         @media screen and (max-width:568px) {
            width: 95%;
            height: 30vh;
            background-size: 100% 100%;
       }
         h2{
            font-size: 3rem;
            color: rgb(229, 236, 238);
            background-color: #E23744;
            border-radius: 5px;
            padding: 0.2rem 4rem;
            z-index: 2;
            text-transform: uppercase; 
            @media screen and (max-width:568px) {
                 font-size: 1.6rem;
            }
         }
    }
    .form-container{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        // background-color: rgb(237, 239, 239);
        backdrop-filter: blur(15px);
        position: absolute;
        width: 50%;
        top: 70%;
        left: 25%;
        border-radius: 5px;
        padding: 1rem;
        background-color: rgba(225, 159, 105, 0.207);

        @media screen and (max-width:568px) {
            width: 90%;
            left: 6%;
       }
        .input-area{
            width: 80%;
            margin: 0 auto;
            input{
                width: 100%;
                padding: 1rem 2rem;
                outline: none;
                border: 1px solid rgb(85, 153, 85);
                border-radius: 5px;
            }
        }
        .btn-container{
            width: 80%;
            margin: 0 auto;
            button{
                width: 30%;
                padding: 0.4rem 0;
                outline: none;
                border: none;
                background-color: #E23744;
                color: white;
                font-size: 1.2rem;
                border-radius: 4px;
                cursor: pointer;
                
            }
        }
    }
}